<div class="container mt-5">

  <div class="row d-flex justify-content-center">

      <div class="col-md-7">

          <div class="card p-3 py-4">

              <div class="text-center">
                  <img src="assets/images/Airbnb-Logo1.jpg" width="100" class="rounded-circle">
              </div>

              <div class="text-center mt-3">
                  <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                  <h5 class="mt-2 mb-0">Alexender Ginter</h5>
                  <span>Engineer</span>

                  <div class="px-4 mt-1">
                      <p class="fonts">Hi!! I'm Alexander, 34 years old from germany. I mostly use Airbnb for work as I'm engineer in a well known company all around europe. I like sport, music and travelling of course ahah!! I guarantee you I'm going to take care of your place  as if it was mine</p>

                  </div>

                   <ul class="social-list">
                      <li><i class="fa fa-facebook"></i></li>
                      <li><i class="fa fa-dribbble"></i></li>
                      <li><i class="fa fa-instagram"></i></li>
                      <li><i class="fa fa-linkedin"></i></li>
                      <li><i class="fa fa-google"></i></li>
                  </ul>

                  <div class="buttons">

                      <button class="btn btn-outline-primary px-4">Message</button>
                      <button class="btn btn-primary px-4 ms-3">Contact</button>
                  </div>


              </div>




          </div>

      </div>

  </div>

</div>
