<div class=" flex-r container">
  <div class="flex-r login-wrapper">
    <div class="login-text">
      <div class="logo">
        <span><i class="fab fa-speakap"></i></span>
        <span>flatBnB</span>
      </div>
      <h1>Inscription</h1>
      <p>Rejoignez l'aventure maintenant! </p>

      <form class="flex-c">
        <div class="input-box">
          <span class="label">Nom</span>
          <div class=" flex-r input">
            <input type="text" placeholder="nom">
            <i class="fas fa-at"></i>
          </div>
        </div>

        <div class="input-box">
          <span class="label">Prénom</span>
          <div class=" flex-r input">
            <input type="text" placeholder="Prénom">
            <i class="fas fa-at"></i>
          </div>
        </div>

        <div class="input-box">
          <span class="label">E-mail</span>
          <div class=" flex-r input">
            <input type="text" placeholder="name@abc.com">
            <i class="fas fa-at"></i>
          </div>
        </div>

        <div class="input-box">
          <span class="label">Numéro de téléphone</span>
          <div class=" flex-r input">
            <input type="text" placeholder="0606060606">
            <i class="fas fa-at"></i>
          </div>
        </div>

        <div class="input-box">
          <span class="label">Mot de passe</span>
          <div class="flex-r input">
            <input type="password" placeholder="8+ (a, A, 1, #)">
            <i class="fas fa-lock"></i>
          </div>
        </div>

        <div class="input-box">
          <span class="label">Répetez mot de passe</span>
          <div class="flex-r input">
            <input type="password" placeholder="8+ (a, A, 1, #)">
            <i class="fas fa-lock"></i>
          </div>
        </div>

        <button class="btn" >Inscription</button>
        <span class="extra-line">
          <span>Déjà inscrit?</span>
          <a href="#"  routerLink="/sign-up">Connectez vous</a>
        </span>
      </form>

    </div>
  </div>
</div>
