<main class="site-content">

	<h2 class="title"><span>Vivez partout.</span> Reservez des logements uniques <br>et faites l'expérience de la ville comme un local.</h2>


	<section class="search-row">

		<input class="search-input" type="text" placeholder="Où allez vous?">


		<div class="checks-input">

			<input class="check-in" type="date" id="start" name="trip-start"  min="2023-12-15" max="2026-12-31"			placeholder="Arrivée">

			<svg class="right-arrow" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
   			<path d="M0 0h24v24H0z" fill="none"/>
    		<path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
			</svg>

			<input class="check-out" type="date" id="start" name="trip-start" min="2023-12-16" max="2026-12-31" placeholder="Départ">

		</div>


		<select class="guests">
			<option>1 personne</option>
			<option>2 personnes</option>
			<option>3 personnes</option>
			<option>4 personnes</option>
			<option>5 personnes</option>
			<option>6 personnes</option>
			<option>7 personnes</option>
			<option>8 personnes</option>
			<option>9 personnes</option>
			<option>10 personnes</option>
			<option>11 personnes</option>
			<option>12 personnes</option>
			<option>13 personnes</option>
			<option>14 personnes</option>
			<option>15 personnes</option>
			<option>16+ personnes</option>
		</select>

		<button class="search-btn"> Chercher </button>

	</section>




	<section class="gallery">

		<div class="prices">

			<h3>Explorez nos choix</h3>

			<div class="img"><img src="https://a2.muscache.com/im/pictures/6152848/b04eddeb_original.jpg?aki_policy=x_medium">
				<div class="price-stamp">85€</div>
				<div class="description">
					<h4>Loft Studio dans le centre</h4>
				</div>
			</div>

			<div class="img"><img src="https://a2.muscache.com/im/pictures/34792065/bae84a3f_original.jpg?aki_policy=x_medium">
				<div class="price-stamp">105€</div>
				<div class="description">
					<h4>Suite avec vue</h4>
				</div>
			</div>

			<div class="img"><img src="https://a2.muscache.com/im/pictures/1faf9a4c-f839-44da-bd37-65ddc928379e.jpg?aki_policy=x_medium">
				<div class="price-stamp">145€</div>
				<div class="description">
					<h4>Villa avec piscine privée, vue 180°</h4>
				</div>
			</div>

		</div>

		<hr>


	<div class="gallery-places">

		<h3>Explorez le monde</h3>

		<ul class="places">

			<li class="img-large">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-Paris_480x320.jpg">
				<h4 class="place-names">Paris</h4>
			</li>


			<li class="img-short">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-Rome_Piazza017_480x320.jpg">
				<h4 class="place-names">Rome</h4>
			</li>


			<li class="img-short">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-Los_Angeles_480x320.jpg">
				<h4 class="place-names">Los Angeles</h4>
			</li>


			<li class="img-short">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-Lisbon_480x320.jpg">
				<h4 class="place-names">Lisbon</h4>
			</li>


			<li class="img-short">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-Kyoto_480x320.jpg">
				<h4 class="place-names">Tokyo</h4>
			</li>


			<li class="img-short">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-London_480x320.jpg">
				<h4 class="place-names">London</h4>
			</li>


			<li class="img-large">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-New_York_480x320.jpg">
				<h4 class="place-names">New York</h4>
			</li>


			<li class="img-short">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-Barcelona_480x320.jpg">
				<h4 class="place-names">Barcelona</h4>
			</li>


			<li class="img-short">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-Amsterdam_480x320.jpg">
				<h4 class="place-names">Amsterdam</h4>
			</li>


			<li class="img-short">
				<img src="https://a0.muscache.com/airbnb/static/destinations/o-Berlin_480x320.jpg">
				<h4 class="place-names">Berlin</h4>
			</li>

		</ul>

	</div>

	<hr>


		<div class="guidebooks">

			<h3>Guides touristiques</h3>

			<div class="img-box">
				<img class="img-big" src="https://a2.muscache.com/ac/pictures/2a4e63c3-c981-4cbc-9c37-80a6ab3a9d24.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70">
				<img class="img-small" src="https://a0.muscache.com/airbnb/guidebook/v1_san_francisco_food_scene_carousel@2x.jpg">
				<img class="img-small" src="https://a1.muscache.com/airbnb/guidebook/v1_san_francisco_drinks_nightlife_carousel@2x.jpg">

				<h4><span>San Francisco</span></h4>
				<p>6,237 places<p>
			</div>


			<div class="img-box">
				<img class="img-big" src="https://a2.muscache.com/ac/pictures/cf3b9363-34e4-4532-b051-6a7663410854.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70">
				<img class="img-small" src="https://a1.muscache.com/airbnb/guidebook/v1_new_york_food_scene_carousel@2x.jpg">
				<img class="img-small" src="https://a0.muscache.com/airbnb/guidebook/v1_new_york_drinks_nightlife_carousel@2x.jpg">

				<h4>New York</h4>
				<p>23,725</p>
			</div>


			<div class="img-box">
				<img class="img-big" src="https://a2.muscache.com/ac/pictures/b62aa572-cf0b-4e4a-b886-a039a0250cf3.jpg?interpolation=lanczos-none&size=x_medium&output-format=jpg&output-quality=70">
				<img class="img-small" src="https://a1.muscache.com/airbnb/guidebook/v1_london_food_scene_carousel@2x.jpg">
				<img class="img-small" src="https://a2.muscache.com/airbnb/guidebook/v1_london_drinks_nightlife_carousel@2x.jpg">

				<h4> London</h4>
				<p>18,795 places</p>
			</div>


		</div>

	</section>

</main>
